@layout.main({ title: 'Home page' })
  @slot('main')
    <h1>Home page</h1>
    @if(auth.user)
      <h2>Welcome {{ auth.user.fullName }}</h2>
      <form method="POST" action="{{ route('auth.logout') }}">
        {{ csrfField() }}
        <button type="submit">logout</button>
      </form>
    @else
      <a href="{{ route('auth.login.show') }}">Login</a>
      <a href="{{ route('auth.register.show') }}">Register</a>
    @endif
  @endslot
@end
